/*
// style.css
// Style sheet for Crystal Hunter Game
// 
//
// Jason McKinney
// July 10, 2017
// Version 1
*/

/*make background of block orange*/
.back-orange{
	background-color: #C97127;
}

/*make background of block pink*/
.back-pink{
	background-color: #FDE7CD;
}

/*make background of block light-green*/
.back-lightgreen{
	background-color: #5BC880;
}

/*make background of block darker-teal*/
.back-tealgreen{
	background-color: #4DB5A9;
}

/*make background of block teal*/
 .back-teal{
 	background-color: #4BFDFE;
 }

/*make text white*/
.text-white{
	color: #FFFFFF;
}
/*make text olive green*/
.text-green{
	color: #6B8B39;
	font-size: 1.1em;
}

/*make text royal purple*/
.text-purple{
	color: #4E0058;
}

/*modify bootstrap row to have a margin for the top and bottom*/
.row{
	margin-top: 2%;
	margin-bottom: 2%;
}

/*modify bootstrap column-3 for spacing between columns*/
.col-md-3{
	margin-right:2%;
}

/* the ID's for the crystal images are set and pretty */
#image-1, #image-2, #image-3, #image-4{
	height: 140px;
	margin-right: 2%;
	background-color: rgba(39,66,83,.0);
	box-shadow: 0 0 45px #5693B7;
}

/*set text for wins/losses ID's*/
#wins, #losses{
	font-size: 1.1em;
	font-weight: bold;
}

/*add beautiful image from Limsa Lominsa towards the lighthouse in La Nocea*/
body{
	background: url("http://i.imgur.com/tYChDrn.jpg") no-repeat center center fixed;
    background-size: cover;
}

/*attempt to spread the images */
/*will come back to this*/

/*@media (max-width: 992px)
{
	#image-1, #image-2, #image-3, #image-4{
	margin-right: 2%;
	background-color: rgba(39,66,83,.0);
	box-shadow: 0 0 45px #5693B7;
}*/